#herodevs-scanner-message-bar, #herodevs-scanner-message-bar * {
  text-align: center;
  white-space: nowrap;
  height: 24px;
  z-index: 1000;
  left: 0;
  right: 0;
  padding: 1px 0px 1px 0px;
  margin: 0px;
  width: 100%;
}

.fixed-yes { position: fixed; }
.fixed-yes.position-bottom { bottom: 0; }
.fixed-yes.position-top { top: 0; }

