.hd-project--left {
  float: left;
}

.hd-project--right {
  float: right;
}

.hd-project--row.even {
  background: white;
}

tr.hd-project--row.even,
tr.hd-project--row.odd {
  border-bottom: 1px solid #bebfb9;
  border-top: 1px solid #bebfb9;
}

.hd-project--left,
.hd-project--right,
.hd-project--expanded {
  padding: 0.5rem 0.75rem;
}

.hd-project--expanded {
  border-top: 1px solid #bebfb9;
  display: none;
}

.hd-project--root .expanded,
.hd-project--expanded {
  display: none;
}

.hd-project--root.expanded .collapsed {
  display: none;
}

.hd-project--root.expanded .hd-project--expanded,
.hd-project--root.expanded .expanded {
  display: inherit
}




.hd-project--row.active .hd-project--expanded {
  display: inherit;
}

.hd-project--status {
  cursor: pointer;
  font-weight: bold;
}

.hd-project--status--supported .hd-project--coloured {
  background: #e4f8e0;
}

.hd-project-status--security-advisory .hd-project--coloured {
  background: #fbe9e9;
}

.hd-project--status--not-supported .hd-project--coloured {
  background: #ccc;
}

.hd-legend--icon,
.hd-project--status--icon {
  vertical-align: middle;
}

.system-status-report td.status-title,
.system-status-report td.status-value {
  width: 50%;
}

table.system-status-report tr.info {
  background: white !important;
}